<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="assignNewRoleForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Assign To:" />
                </p:column>
                <p:column>
                    <p:inputText id="assignToInput"
                        value="#{userInfoBean.selectedUser.firstName} #{userInfoBean.selectedUser.lastName}"
                        readonly="true" styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Role:" />
                </p:column>
                <p:column>
                    <p:selectOneMenu id="assignRoleSelectRole"
                        value="#{userInfoBean.selectedRole}" converter="#{roleConverter}" 
                        required="true" style="width: 205px">
                        <f:selectItems value="#{usersRequestCacheBean.roles}" var="r"
                            itemValue="#{r}" itemLabel="#{r.name}" />
                    </p:selectOneMenu>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Assigment Type:" />
                </p:column>
                <p:column>
                    <p:selectOneRadio id="assigmentType"
                        value="#{userInfoBean.newRoleAssignmentType}" required="true"
                        requiredMessage="Please select assignment type."
                        style="margin: 0 auto">
                        <f:selectItem itemLabel="Normal" itemValue="1" />
                        <f:selectItem itemLabel="Limited" itemValue="2" />
                        <p:ajax update="assignRoleStartTime, assignRoleEndTime" />
                    </p:selectOneRadio>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Start Time:" />
                </p:column>
                <p:column>
                    <p:calendar id="assignRoleStartTime"
                        disabled="#{userInfoBean.newRoleAssignmentType == 1}"
                        value="#{userInfoBean.newRoleAssignmentStartTime}" pattern="yyyy/MM/dd HH:mm"
                        required="#{!(userInfoBean.newRoleAssignmentType == 1)}"
                        requiredMessage="Please enter start time in valid format (yyyy/MM/dd HH:mm)."
                        styleClass="calendar" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="End Time:" />
                </p:column>
                <p:column>
                    <p:calendar id="assignRoleEndTime"
                        disabled="#{userInfoBean.newRoleAssignmentType == 1}"
                        value="#{userInfoBean.newRoleAssignmentEndTime}" pattern="yyyy-MM-dd HH:mm"
                        required="#{!(userInfoBean.newRoleAssignmentType == 1)}"
                        requiredMessage="Please enter end time in valid format (yyyy-MM-dd HH:mm)."
                        styleClass="calendar" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Notify:" />
                </p:column>
                <p:column>
                    <p:selectBooleanCheckbox id="assignmentNotify"
                        value="#{userInfoBean.notifyByEmail}" disabled="#{userInfoBean.notifyButtonDisabled}">
                          <p:ajax event="change" listener="#{userInfoBean.showWarning}" update=":siteContainerGrowl"/>
                    </p:selectBooleanCheckbox>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="assignNewRoleOkButton"
                            action="#{userInfoBean.assignNewRole}"
                            onclick="assignButton.disable(); assignCancelButton.disable();"
                            update=":userInfoForm:usersData, assignNewRoleForm, :siteContainerGrowl"
                            oncomplete="if(!args.validationFailed) PF('assignNewRoleDialog').hide(); assignButton.enable(); assignCancelButton.enable();"
                            value="OK" styleClass="commandButton" widgetVar="assignButton" />
                        <p:commandButton id="assignNewRoleCancelButton" value="Cancel"
                            onclick="PF('assignNewRoleDialog').hide()"
                            update="assignNewRoleForm"
                            action="#{userInfoBean.setDefaultValues}" immediate="true"
                            styleClass="commandButton" widgetVar="assignCancelButton">
                            <p:resetInput target=":assignNewRoleDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:tooltip for="assignmentNotify" showEffect="fade" hideEffect="fade">
            <h:outputText value="Notify the person (by email) that"
                escape="false" />
            <br />
            <h:outputText value="a role has been assigned to him." escape="false" />
        </p:tooltip>
    </h:form>
</ui:composition>