<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Admin Logs</ui:define>
    <ui:define name="content">
        <h:form id="logsForm">
            <p:panelGrid styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="logsFilter" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column style="padding-top: 0px">
                                    <p:outputLabel value="Start Time:" />
                                </p:column>
                                <p:column style="padding-top: 0px">
                                    <p:calendar value="#{studioLogBean.startTime}"
                                        style="width:211px; padding-top: 0px" pattern="yyyy-MM-dd HH:mm"
                                        styleClass="calendar" />
                                </p:column>
                                <p:column rowspan="2" styleClass="columnTopAlignment"
                                    style="padding-top: 9px">
                                    <p:outputLabel value="Severity:" />
                                </p:column>
                                <p:column rowspan="2" style="padding-top: 2px"
                                    styleClass="withoutPadding columnTopAlignment">
                                    <p:selectManyCheckbox value="#{studioLogBean.selectedSeverities}"
                                        layout="grid" columns="1">
                                        <f:selectItems value="#{studioLogBean.severities}"
                                            var="severity" itemLabel="#{severity}"
                                            itemValue="#{severity}" />
                                    </p:selectManyCheckbox>
                                </p:column>
                                <p:column rowspan="2" styleClass="columnTopAlignment"
                                    style="padding-top: 9px">
                                    <p:outputLabel value="Users:" />
                                </p:column>
                                <p:column rowspan="2"
                                    styleClass="columnTopAlignment withoutPadding">
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:selectOneListbox id="usersList"
                                                    value="#{studioLogBean.selectedUser}"
                                                    style="width: 400px; height: 79px">
                                                    <f:selectItems value="#{studioLogBean.users}" var="user"
                                                        itemLabel="#{user}" itemValue="#{user}" />
                                                    <p:ajax event="change" update="addButton removeButton" />
                                                </p:selectOneListbox>
                                            </p:column>
                                            <p:column>
                                                <p:commandButton id="addButton" icon="ui-icon-plus"
                                                    title="Add user"
                                                    action="#{studioLogBean.showSelectUsersDialog()}" />
                                                <br />
                                                <p:commandButton id="removeButton" icon="ui-icon-minus"
                                                    title="Remove User" update="removeButton usersList"
                                                    action="#{studioLogBean.removeUser}"
                                                    disabled="#{studioLogBean.removeUserButtonDisabled}" />
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="padding-top: 0px">
                                    <p:outputLabel value="End Time:" />
                                </p:column>
                                <p:column style="padding-top: 0px">
                                    <p:calendar value="#{studioLogBean.endTime}" style="padding-top: 0px"
                                        pattern="yyyy-MM-dd HH:mm" styleClass="calendar" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="6">
                                    <h:panelGroup layout="block"
                                        styleClass="rightCommandButtonPanel">
                                        <p:commandButton value="Apply"
                                            action="#{studioLogBean.applyFilter()}"
                                            styleClass="commandButton"
                                            update="logsResult :siteContainerGrowl" />
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="logsResult" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column colspan="6">
                                    <p:dataTable var="entry" value="#{studioLogBean.lazyModel}"
                                        paginator="true" rows="50" paginatorPosition="bottom"
                                        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                        scrollable="true" scrollHeight="485" lazy="true"
                                        styleClass="rolesPermissionTable"
                                        style="width:1070px; height:525px">
                                        <p:column headerText="Time" style="width: 185px">
                                            <h:outputText value="#{entry.timestamp}" />
                                        </p:column>
                                        <p:column headerText="Severity" style="width: 65px">
                                            <h:outputText value="#{entry.severity}" />
                                        </p:column>
                                        <p:column headerText="User" style="width: 170px">
                                            <h:outputText value="#{entry.userID}" />
                                        </p:column>
                                        <p:column headerText="Entry">
                                            <h:outputText value="#{entry.content}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".calendar input").css("width", "211px");
                    updateAdminLogsUsersListbox();
                });
                function updateAdminLogsUsersListbox() {
                    $("#logsForm\\:usersList .ui-selectlistbox-listcontainer").css("height", "79px");
                }
            </script>
            <p:outputPanel autoUpdate="true">
			   <h:outputScript id="applyChangeHandler">
			       updateAdminLogsUsersListbox();
			    </h:outputScript>
			</p:outputPanel>
        </h:form>
        <p:dialog header="Select users" closeOnEscape="true" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="selectUsersDialog" widgetVar="selectUsersDialog">
            <ui:include src="dialogs/add-users.xhtml" />
        </p:dialog>
    </ui:define>
</ui:composition>