<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addResourceForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:outputLabel value="Name:" />
                </p:column>
                <p:column styleClass="columnTopAlignment">
                    <p:inputText value="#{resourcesBean.newResourceName}"
                        styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:outputLabel value="Description:" />
                </p:column>
                <p:column styleClass="columnTopAlignment">
                    <p:inputTextarea label="Description" value="#{resourcesBean.newResourceDescription}"
                        rows="8" styleClass="inputFields" autoResize="false"
                        scrollHeight="150" >
                        <f:validateLength maximum="1000"/>
                    </p:inputTextarea>
                </p:column>
            </p:row>
            <p:row>
                <p:column />
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton update=":resourcesForm, :editDescriptionForm addResourceForm :siteContainerGrowl"
                            action="#{resourcesBean.createResource}"
                            oncomplete="if(!args.validationFailed) PF('addResourceDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton value="Cancel" immediate="true"
                            onclick="PF('addResourceDialog').hide()" update="addResourceForm"
                            styleClass="commandButton">
                            <p:resetInput target=":addResourceDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>