<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addPermissionsForm">
        <p:panelGrid id="addPermissionsPanelGrid"
            styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Resource:" />
                </p:column>
                <p:column>
                    <p:selectOneMenu id="resourcesList" value="#{resourcesBean.selectedResourcePickList}"
                        style="width:508px" converter="#{resourceConverter}">
                        <f:selectItems value="#{resourcesBean.resourcesPickList}" var="r"
                            itemValue="#{r}" itemLabel="#{r.name}" />
                        <p:ajax event="change" update="addPermissionsPanelGrid" />
                    </p:selectOneMenu>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="withoutPadding">
                    <p:panelGrid id="permissionsPanel" styleClass="noBorderPanelgrid" style="width: 550px">
                        <p:row>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-right: 10px">
                                    <p:dataTable id="permissionsSourceTable"
                                        styleClass="scrollless" style="width:250px"
                                        emptyMessage="All permissions are selected."
                                        value="#{resourcesBean.permissionsSourceList}"
                                        var="permission" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{resourcesBean.selectedPermissionsSourceList}"
                                        rowKey="#{permission.id}" tableStyle="text-align: left">
                                        <p:column filterBy="#{permission.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 90%">
                                            <h:outputText id="permissionName" value="#{permission.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addPermissionsForm" 
                                            listener="#{resourcesBean.addPermissionsFromSourceToTarget}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                            <p:column>
                                <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                                    title="Add" style="margin-bottom:2px"
                                    action="#{resourcesBean.addPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                                    title="Add All" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{resourcesBean.addAllPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                                    title="Remove" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{resourcesBean.addPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeAllButton"
                                    icon="ui-icon-arrowstop-1-w" title="Remove All"
                                    style="margin-top:2px"
                                    action="#{resourcesBean.addAllPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                            </p:column>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-left: 10px">
                                    <p:dataTable id="permissionsTargetTable"
                                        styleClass="scrollless" style="width:250px"
                                        emptyMessage="No permissions selected."
                                        value="#{resourcesBean.permissionsTargetList}"
                                        var="permission" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{resourcesBean.selectedPermissionsTargetList}"
                                        rowKey="#{permission.name}" tableStyle="text-align: left">
                                        <p:column filterBy="#{permission.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 90%">
                                            <h:outputText value="#{permission.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addPermissionsForm" 
                                            listener="#{resourcesBean.addPermissionsFromTargetToSource}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="okButton"
                            update="addPermissionsForm :resourcesForm:propertiesPanelGrid :siteContainerGrowl"
                            action="#{resourcesBean.addPermissions}"
                            oncomplete="if(!args.validationFailed) PF('addPermissionsDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton value="Cancel" immediate="true"
                            onclick="PF('addPermissionsDialog').hide()"
                            action="#{resourcesBean.setDefaultValues}"
                            update="permissionsPanel resourcesList" styleClass="commandButton">
                            <p:resetInput target=":addPermissionsDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:blockUI block="addPermissionsPanelGrid" trigger="okButton">  
            LOADING<br />
            <p:graphicImage library="images" name="ajax-loader.gif" />
        </p:blockUI>
        <p:remoteCommand update="addPermissionsPanelGrid" autoRun="true" />
    </h:form>
</ui:composition>