<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addIPGroupForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Name:" />
                </p:column>
                <p:column>
                    <p:inputText value="#{ipGroupsBean.newIPGroupName}" required="true"
                        requiredMessage="Name field is required." styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:outputLabel value="Description:" />
                </p:column>
                <p:column styleClass="columnTopAlignment">
                    <p:inputTextarea value="#{ipGroupsBean.newIPGroupDescription}"
                        rows="8" styleClass="inputFields" autoResize="false"
                        scrollHeight="150" />
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton value="OK" styleClass="commandButton"
                            action="#{ipGroupsBean.createIPGroup}"
                            oncomplete="if(!args.validationFailed) PF('addIPGroupDialog').hide()"
                            update="addIPGroupForm :ipGroupsForm :siteContainerGrowl :editIPGroupForm" />
                        <p:commandButton value="Cancel" immediate="true"
                            update="addIPGroupForm" onclick="PF('addIPGroupDialog').hide()"
                            styleClass="commandButton">
                            <p:resetInput target=":addIPGroupDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>