<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="editExpressionForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Short Name:" />
                </p:column>
                <p:column>
                    <p:inputText label="Short Name" value="#{expressionsBean.updatedExpressionName}"
                        required="true" requiredMessage="Short Name field is required."
                        styleClass="inputFields" >
                        <f:validateLength minimum="1" maximum="10"/>
                    </p:inputText>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Name:" />
                </p:column>
                <p:column>
                    <p:inputText value="#{expressionsBean.updatedExpressionLongName}"
                        required="true" requiredMessage="Name field is required."
                        styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:outputLabel value="Description:" />
                </p:column>
                <p:column styleClass="columnTopAlignment">
                    <p:inputTextarea
                        label="Description" value="#{expressionsBean.updatedExpressionDescription}" rows="8"
                        styleClass="inputFields" autoResize="false" scrollHeight="150" >
                        <f:validateLength maximum="1000"/>
                    </p:inputTextarea>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Definition:" />
                </p:column>
                <p:column>
                    <p:inputText label="Definition" value="#{expressionsBean.updatedExpressionDefinition}"
                        required="true" requiredMessage="Definition field is required."
                        styleClass="inputFields" >
                        <f:validateLength maximum="1000"/>
                    </p:inputText>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton value="OK" styleClass="commandButton"
                            action="#{expressionsBean.updateExpression}"
                            oncomplete="if(!args.validationFailed) PF('editExpressionDialog').hide()"
                            update="editExpressionForm :expressionsForm:expressionsListPanelGrid :expressionsForm:propertiesPanelGrid :siteContainerGrowl" />
                        <p:commandButton value="Cancel" immediate="true"
                            update="editExpressionForm"
                            onclick="PF('editExpressionDialog').hide()"
                            styleClass="commandButton">
                            <p:resetInput target=":editExpressionDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>