<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="requestExclusiveAccessForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Resource:" />
                </p:column>
                <p:column>
                    <p:inputText id="requestExclusiveAccessResourceNameInput"
                        value="#{permissionsDefinitionBean.resourceName}" readonly="true"
                        styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Permission:" />
                </p:column>
                <p:column>
                    <p:inputText id="requestExclusiveAccessPermissionNameInput"
                        value="#{permissionsDefinitionBean.permissionName}"
                        readonly="true" styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Duration:" />
                </p:column>
                <p:column>
                    <p:calendar
                        value="#{permissionsDefinitionBean.exclusiveAccessDuration}"
                        pattern="HH:mm" timeOnly="true" required="true"
                        requiredMessage="Please enter duration of the exclusive access."
                        styleClass="calendar" />
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="requestAccessOkButton"
                            action="#{permissionsDefinitionBean.createExclusiveAccess}"
                            update=":siteContainerGrowl :permissionDefinitionForm:propertiesPanelGrid requestExclusiveAccessForm"
                            oncomplete="if(!args.validationFailed) PF('requestAccessDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton id="requestAccessCancelButton" value="Cancel"
                            action="#{permissionsDefinitionBean.resetExclusiveAccessDuration}"
                            onclick="PF('requestAccessDialog').hide()"
                            update="requestExclusiveAccessForm"
                            styleClass="commandButton" />
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>