<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="requestExclusiveAccessForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Resource:" />
                </p:column>
                <p:column>
                    <p:selectOneMenu value="#{exclusiveAccessBean.selectedResource}"
                        converter="#{resourceConverter}" style="width: 100%;">
                        <f:selectItems value="#{exclusiveAccessBean.resources}" var="r"
                            itemValue="#{r}" itemLabel="#{r.name}" />
                        <p:ajax event="change" update="permissionsTargetSourceList" />
                    </p:selectOneMenu>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Duration:" />
                </p:column>
                <p:column>
                    <p:calendar value="#{exclusiveAccessBean.duration}" pattern="HH:mm"
                        required="true"
                        requiredMessage="Please enter duration of the exclusive access."
                        timeOnly="true" styleClass="calendar2" />
                </p:column>
            </p:row>
            <p:row>
                <p:column />
                <p:column styleClass="withoutPadding">
                    <p:panelGrid id="permissionsTargetSourceList" styleClass="noBorderPanelgrid">
                        <p:row>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-right: 10px">
                                    <p:dataTable id="permissionsSourceTable"
                                        styleClass="scrollless"
                                        emptyMessage="All permissions are selected."
                                        value="#{exclusiveAccessBean.permissionsSourceList}" var="p"
                                        selectionMode="multiple" scrollable="true" scrollHeight="250"
                                        selection="#{exclusiveAccessBean.selectedPermissionsSourceList}"
                                        rowKey="#{p.id}" tableStyle="text-align: left">
                                        <p:column filterBy="#{p.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 95%">
                                            <h:outputText id="permissionName" value="#{p.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":requestExclusiveAccessForm" 
                                            listener="#{exclusiveAccessBean.addPermissionsFromSourceToTarget}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                            <p:column>
                                <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                                    title="Add" style="margin-bottom:2px"
                                    action="#{exclusiveAccessBean.addPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                                    title="Add All" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{exclusiveAccessBean.addAllPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                                    title="Remove" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{exclusiveAccessBean.addPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeAllButton"
                                    icon="ui-icon-arrowstop-1-w" title="Remove All"
                                    style="margin-top:2px"
                                    action="#{exclusiveAccessBean.addAllPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                            </p:column>
                            <p:column>
                                <div class="borderedDiv" style="width: 250px; margin-left: 10px">
                                    <p:dataTable id="permissionsTargetTable"
                                        styleClass="scrollless"
                                        emptyMessage="No permissions selected."
                                        value="#{exclusiveAccessBean.permissionsTargetList}" var="p"
                                        selectionMode="multiple" scrollable="true" scrollHeight="250"
                                        selection="#{exclusiveAccessBean.selectedPermissionsTargetList}"
                                        rowKey="#{p.name}" tableStyle="text-align: left">
                                        <p:column filterBy="#{p.name}" filterMatchMode="contains"
                                            filterStyle="width: 95%" footerText="">
                                            <h:outputText value="#{p.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":requestExclusiveAccessForm" 
                                            listener="#{exclusiveAccessBean.addPermissionsFromTargetToSource}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton
                            action="#{exclusiveAccessBean.createExclusiveAccess}"
                            update=":exclusiveAccessForm :siteContainerGrowl requestExclusiveAccessForm"
                            oncomplete="if(!args.validationFailed) PF('requestExclusiveAccessDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton id="requestAccessCancelButton" value="Cancel"
                            onclick="PF('requestExclusiveAccessDialog').hide()"
                            action="#{exclusiveAccessBean.resetExclusiveAccessDuration}"
                            update="requestExclusiveAccessForm" styleClass="commandButton"
                            immediate="true">
                            <p:resetInput target=":requestExclusiveAccessDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:remoteCommand update="permissionsTargetSourceList" autoRun="true" />
    </h:form>
</ui:composition>