<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">RBAC Management Studio: User Permissions</ui:define>

    <ui:define name="content">
        <h:form id="userPermissionsForm">
            <p:panelGrid id="userPermissionsPanelGrid"
                styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="users" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput" value="#{userInfoBean.wildcard}"
                                        styleClass="inputFields">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="usersListBox usersPermissions" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:selectOneListbox id="usersListBox"
                                        converter="#{userConverter}"
                                        value="#{userInfoBean.selectedUser}" styleClass="mainListBox">
                                        <f:selectItems value="#{userInfoBean.usersList}" var="user"
                                            itemLabel="#{user.lastName} #{user.firstName}"
                                            itemValue="#{user}" />
                                        <p:ajax event="change"
                                            listener="#{userInfoBean.releaseSelection}"
                                            update="usersPermissions" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="loadUsersButton" update="usersListBox"
                                            value="Load users" action="#{usersBean.loadUsers}"
                                            styleClass="commandButtonLarge" />
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="withoutPadding columnTopAlignment">
                        <p:panelGrid id="usersPermissions" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <h2>
                                        <p:outputLabel
                                            value="All permissions of the user #{userInfoBean.selectedUser.firstName} #{userInfoBean.selectedUser.lastName}" />
                                    </h2>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:dataTable id="userPermissionsTable" var="role"
                                        value="#{usersRequestCacheBean.userPermissions}" style="width:843px"
                                        styleClass="rolesPermissionTable" scrollable="true"
                                        scrollHeight="570">
                                        <p:column headerText="Permission">
                                            <h:outputText value="#{role.permissionName}" />
                                        </p:column>
                                        <p:column headerText="Resource">
                                            <h:outputText value="#{role.resourceName}" />
                                        </p:column>
                                        <p:column headerText="Role">
                                            <h:outputText value="#{role.roleName}" />
                                        </p:column>
                                        <f:facet name="footer">
                                            <div></div>
                                        </f:facet>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:blockUI block="userPermissionsPanelGrid"
                trigger="loadUsersButton, loadUsersRemoteCommand">
                <p:graphicImage library="images" name="ajax-loader.gif" />
                <br />
                Loading data ... 
            </p:blockUI>
            <p:remoteCommand id="loadUsersRemoteCommand" name="lazyload"
                update="usersListBox" autoRun="true">
                <f:setPropertyActionListener value="#{true}"
                    target="#{usersBean.areUsersLoaded}" />
            </p:remoteCommand>
             <script type="text/javascript">
                $(document).ready(function() {
                	updateUserPermissionsListbox();
                });
				function updateUserPermissionsListbox() {
                    $("#userPermissionsForm\\:usersListBox .ui-selectlistbox-listcontainer").css("height", "600px");
				}
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updateUserPermissionsListbox();
			    </h:outputScript>
			</p:outputPanel>          
        </h:form>
    </ui:define>
</ui:composition>