<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addRolesForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column styleClass="withoutPadding">
                    <p:panelGrid styleClass="noBorderPanelgrid">
                        <p:row>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-right: 10px">
                                    <p:dataTable id="rolesSourceTable" styleClass="scrollless"
                                        emptyMessage="All roles are selected."
                                        value="#{asgBean.rolesSourceList}" var="r"
                                        selectionMode="multiple" scrollable="true" scrollHeight="250"
                                        selection="#{asgBean.selectedRolesSourceList}"
                                        rowKey="#{r.id}" tableStyle="text-align: left">
                                        <p:column filterBy="#{r.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 95%">
                                            <h:outputText id="ipGroupName" value="#{r.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addRolesForm" 
                                             listener="#{asgBean.addRolesFromSourceToTarget}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                            <p:column>
                                <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                                    title="Add" style="margin-bottom:2px"
                                    action="#{asgBean.addRolesFromSourceToTarget()}"
                                    update="rolesSourceTable rolesTargetTable" />
                                <br />
                                <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                                    title="Add All" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{asgBean.addAllRolesFromSourceToTarget()}"
                                    update="rolesSourceTable rolesTargetTable" />
                                <br />
                                <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                                    title="Remove" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{asgBean.addRolesFromTargetToSource()}"
                                    update="rolesSourceTable rolesTargetTable" />
                                <br />
                                <p:commandButton id="removeAllButton"
                                    icon="ui-icon-arrowstop-1-w" title="Remove All"
                                    style="margin-top:2px"
                                    action="#{asgBean.addAllRolesFromTargetToSource()}"
                                    update="rolesSourceTable rolesTargetTable" />
                            </p:column>
                            <p:column>
                                <div class="borderedDiv" style="width: 250px; margin-left: 10px">
                                    <p:dataTable id="rolesTargetTable" styleClass="scrollless"
                                        emptyMessage="No roles selected."
                                        value="#{asgBean.rolesTargetList}" var="r"
                                        selectionMode="multiple" scrollable="true" scrollHeight="250"
                                        selection="#{asgBean.selectedRolesTargetList}"
                                        rowKey="#{r.name}" tableStyle="text-align: left">
                                        <p:column filterBy="#{r.name}" filterMatchMode="contains"
                                            filterStyle="width: 95%" footerText="">
                                            <h:outputText value="#{r.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addRolesForm" 
                                             listener="#{asgBean.addRolesFromTargetToSource}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <h:panelGroup layout="block" style="float: right">
                        <p:commandButton
                            oncomplete="if(!args.validationFailed) PF('addRolesDialog').hide()"
                            action="#{asgBean.addAccessSecurityRoles()}"
                            update=":siteContainerGrowl :asgForm:rolesListBox addRolesForm"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton value="Cancel"
                            onclick="PF('addRolesDialog').hide()" immediate="true"
                            update="addRolesForm" styleClass="commandButton">
                            <p:resetInput target=":addRolesDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>