<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addRuleForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <p:outputLabel value="Name" />
                </p:column>
                <p:column>
                    <p:inputText value="#{asgBean.newRuleName}" styleClass="inputFields"
                        required="true" requiredMessage="Please insert rule name." />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:outputLabel value="Description:" />
                </p:column>
                <p:column styleClass="columnTopAlignment">
                    <p:inputTextarea value="#{asgBean.newRuleDescription}" rows="8"
                        styleClass="inputFields" autoResize="false" scrollHeight="150" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Calc:" />
                </p:column>
                <p:column>
                    <p:inputText label="Calc" value="#{asgBean.newRuleCalc}" styleClass="inputFields" >
                    	<f:validateLength maximum="40"/>
                    </p:inputText>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:outputLabel value="Level:" />
                </p:column>
                <p:column>
                    <p:selectOneRadio required="true"
                        requiredMessage="Please selecte rule level."
                        value="#{asgBean.newRuleLevel}">
                        <f:selectItem  itemLabel="Zero(0)" itemValue="#{false}" />
                        <f:selectItem itemLabel="One(1)" itemValue="#{true}" />
                    </p:selectOneRadio>
                </p:column>
            </p:row>
            <p:row>
                <p:column />
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton
                            oncomplete="if(!args.validationFailed) PF('addRuleDialog').hide()"
                            value="OK" styleClass="commandButton"
                            update=":siteContainerGrowl addRuleForm :asgForm:rulesListBox :asgForm:asgProperties :editRuleInfoForm"
                            action="#{asgBean.createAccessSecurityRule}" />
                        <p:commandButton value="Cancel" immediate="true"
                            update="addRuleForm" onclick="PF('addRuleDialog').hide()"
                            styleClass="commandButton">
                            <p:resetInput target=":addRuleDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>