<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="showRoleAssigneesForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column styleClass="columnTopAlignment">
                    <p:selectOneListbox id="roleMembersListbox" style="height:250px; width:250px">
                        <f:selectItems value="#{asgBean.selectedRoleAssignees}" var="assignee"
                            itemLabel="#{assignee}" itemValue="#{assignee}" />
                    </p:selectOneListbox>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <h:panelGroup layout="block" style="float: right">
                        <p:commandButton value="Close"
                            onclick="PF('selectedRoleAssignees').hide()"
                            styleClass="commandButton">
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
        <script type="text/javascript">
            $(document).ready(function() {
            	updateRoleMembersListbox();
            });
			function updateRoleMembersListbox() {
                $("#showRoleAssigneesForm\\:roleMembersListbox .ui-selectlistbox-listcontainer").css("height", "250px");
			}
        </script>
		<p:outputPanel autoUpdate="true">
		   <h:outputScript id="applyChangeHandler">
		       updateRoleMembersListbox();
		    </h:outputScript>
		</p:outputPanel>
    </h:form>
</ui:composition>