<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="addPermissionsForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column style="width: 50px">
                    <p:outputLabel value="Resource:" />
                </p:column>
                <p:column>
                    <p:selectOneMenu id="addPermissionsSelectResource"
                        value="#{rolesDefinitionsBean.selectedResourceId}"
                        style="width: 513px">
                        <f:selectItems value="#{rolesDefinitionsBean.resourcesList}"
                            var="r" itemValue="#{r.id}" itemLabel="#{r.name}" />
                        <p:ajax event="change" update="permissionsPanel" />
                    </p:selectOneMenu>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2" styleClass="withoutPadding">
                    <p:panelGrid id="permissionsPanel" styleClass="noBorderPanelgrid">
                        <p:row>
                            <p:column>
                                <div class="borderedDiv" style="width: 250px; margin-right: 10px">
                                    <p:dataTable id="permissionsSourceTable"
                                        styleClass="scrollless"
                                        emptyMessage="All permissions are selected."
                                        value="#{rolesDefinitionsBean.permissionsSourceList}"
                                        var="permission" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{rolesDefinitionsBean.selectedPermissionsSourceList}"
                                        rowKey="#{permission.id}" tableStyle="text-align: left">
                                        <p:column filterBy="#{permission.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 90%">
                                            <h:outputText id="permissionName" value="#{permission.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addPermissionsForm" 
                                            listener="#{rolesDefinitionsBean.addPermissionsFromSourceToTarget}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                            <p:column>
                                <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                                    title="Add" style="margin-bottom:2px"
                                    action="#{rolesDefinitionsBean.addPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                                    title="Add All" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{rolesDefinitionsBean.addAllPermissionsFromSourceToTarget()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                                    title="Remove" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{rolesDefinitionsBean.addPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                                <br />
                                <p:commandButton id="removeAllButton"
                                    icon="ui-icon-arrowstop-1-w" title="Remove All"
                                    style="margin-top:2px"
                                    action="#{rolesDefinitionsBean.addAllPermissionsFromTargetToSource()}"
                                    update="permissionsSourceTable permissionsTargetTable" />
                            </p:column>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-left: 10px">
                                    <p:dataTable id="permissionsTargetTable"
                                        styleClass="scrollless"
                                        emptyMessage="No permissions selected."
                                        value="#{rolesDefinitionsBean.permissionsTargetList}"
                                        var="permission" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{rolesDefinitionsBean.selectedPermissionsTargetList}"
                                        rowKey="#{permission.name}" tableStyle="text-align: left">
                                        <p:column filterBy="#{permission.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 90%">
                                            <h:outputText value="#{permission.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" update=":addPermissionsForm" 
                                            listener="#{rolesDefinitionsBean.addPermissionsFromTargetToSource}" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="addPermissionOkButton"
                            update=":roleDefinitionForm:roleProperties addPermissionsForm :siteContainerGrowl"
                            action="#{rolesDefinitionsBean.addRolePermissions}"
                            oncomplete="if(!args.validationFailed) PF('addPermissionsDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton id="addPermissionsCancelButton" value="Cancel"
                            onclick="PF('addPermissionsDialog').hide()" immediate="true"
                            action="#{rolesDefinitionsBean.setDefaultValues}"
                            update="addPermissionsForm" styleClass="commandButton">
                            <p:resetInput target=":addPermissionsDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                    </p:column>
            </p:row>
        </p:panelGrid>
        <p:remoteCommand id="selectFirstResource" name="selectFirstResource"
            update="permissionsPanel" autoRun="true"
            action="#{rolesDefinitionsBean.selectResourceId}" />
    </h:form>
</ui:composition>