<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="selectResourcesForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column styleClass="withoutPadding">
                    <p:panelGrid styleClass="noBorderPanelgrid">
                        <p:row>
                            <p:column>
                                <div class="borderedDiv"
                                    style="width: 250px; margin-right: 10px">
                                    <p:dataTable id="resourcesSourceTable" styleClass="borderless"
                                        emptyMessage="All resources are selected."
                                        value="#{matrixBean.resourcesSourceList}"
                                        var="re" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{matrixBean.selectedResourcesSourceList}"
                                        rowKey="#{re.id}" tableStyle="text-align: left">
                                        <p:column filterBy="#{re.name}" footerText=""
                                            filterMatchMode="contains" filterStyle="width: 95%">
                                            <h:outputText id="ipGroupName" value="#{re.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" listener="#{matrixBean.addResourcesFromSourceToTarget()}" 
    										update="selectResourcesForm" global="false" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                            <p:column>
                                <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                                    title="Add" style="margin-bottom:2px"
                                    action="#{matrixBean.addResourcesFromSourceToTarget()}"
                                    update="resourcesSourceTable resourcesTargetTable" />
                                <br />
                                <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                                    title="Add All" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{matrixBean.addAllResourcesFromSourceToTarget()}"
                                    update="resourcesSourceTable resourcesTargetTable" />
                                <br />
                                <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                                    title="Remove" style="margin-top:2px; margin-bottom:2px;"
                                    action="#{matrixBean.addResourcesFromTargetToSource()}"
                                    update="resourcesSourceTable resourcesTargetTable" />
                                <br />
                                <p:commandButton id="removeAllButton"
                                    icon="ui-icon-arrowstop-1-w" title="Remove All"
                                    style="margin-top:2px"
                                    action="#{matrixBean.addAllResourcesFromTargetToSource()}"
                                    update="resourcesSourceTable resourcesTargetTable" />
                            </p:column>
                            <p:column>
                                <div class="borderedDiv" style="width: 250px; margin-left: 10px">
                                    <p:dataTable id="resourcesTargetTable" styleClass="borderless"
                                        emptyMessage="No resources selected."
                                        value="#{matrixBean.resourcesTargetList}"
                                        var="re" selectionMode="multiple" scrollable="true"
                                        scrollHeight="250"
                                        selection="#{matrixBean.selectedResourcesTargetList}"
                                        rowKey="#{re.name}" tableStyle="text-align: left">
                                        <p:column filterBy="#{re.name}" filterMatchMode="contains"
                                            filterStyle="width: 95%" footerText="">
                                            <h:outputText value="#{re.name}" />
                                        </p:column>
                                        <p:ajax event="rowDblselect" listener="#{matrixBean.addResourcesFromTargetToSource()}" 
    										update="selectResourcesForm" global="false" />
                                    </p:dataTable>
                                </div>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="addResourcesButton"
                            action="#{matrixBean.createPermissionsMap}"
                            update=":matrix selectResourcesForm"
                            onclick="addResourcesButton.disable(); resourceCancelButton.disable();"
                            oncomplete="if(!args.validationFailed) PF('selectResourcesDialog').hide(); addResourcesButton.enable(); resourceCancelButton.enable();"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton id="resourceCancelButton" value="Cancel"
                            onclick="PF('selectResourcesDialog').hide()" immediate="true"
                            update="selectResourcesForm" styleClass="commandButton">
                            <p:resetInput target=":selectResourcesDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>