<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="selectUserForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column>
                    <div class="borderedDiv" style="width: 250px; margin-right: 10px">
                        <p:dataTable id="usersSourceTable" styleClass="scrollless"
                            emptyMessage="All users are selected."
                            value="#{rbacLogBean.usersSourceList}" var="user"
                            selectionMode="multiple" scrollable="true" scrollHeight="250"
                            selection="#{rbacLogBean.selectedUsersSourceList}"
                            rowKey="#{user.username}" tableStyle="text-align: left">
                            <p:column filterBy="#{user.lastName} #{user.firstName}"
                                footerText="" filterMatchMode="contains"
                                filterStyle="width: 95%">
                                <h:outputText id="userName"
                                    value="#{user.lastName} #{user.firstName}" />
                            </p:column>
                            <p:ajax event="rowDblselect" update=":selectUserForm" 
                                listener="#{rbacLogBean.addUsersFromSourceToTarget}" />
                        </p:dataTable>
                    </div>
                </p:column>
                <p:column>
                    <p:commandButton id="addButton" icon="ui-icon-arrow-1-e"
                        title="Add" style="margin-bottom:2px"
                        action="#{rbacLogBean.addUsersFromSourceToTarget()}"
                        update="usersSourceTable usersTargetTable" />
                    <br />
                    <p:commandButton id="addAllButton" icon="ui-icon-arrowstop-1-e"
                        title="Add All" style="margin-top:2px; margin-bottom:2px;"
                        action="#{rbacLogBean.addAllUsersFromSourceToTarget()}"
                        update="usersSourceTable usersTargetTable" />
                    <br />
                    <p:commandButton id="removeButton" icon="ui-icon-arrow-1-w"
                        title="Remove" style="margin-top:2px; margin-bottom:2px;"
                        action="#{rbacLogBean.addUsersFromTargetToSource()}"
                        update="usersSourceTable usersTargetTable" />
                    <br />
                    <p:commandButton id="removeAllButton" icon="ui-icon-arrowstop-1-w"
                        title="Remove All" style="margin-top:2px"
                        action="#{rbacLogBean.addAllUsersFromTargetToSource()}"
                        update="usersSourceTable usersTargetTable" />
                </p:column>
                <p:column>
                    <div class="borderedDiv" style="width: 250px; margin-left: 10px">
                        <p:dataTable id="usersTargetTable" styleClass="scrollless"
                            emptyMessage="No users selected."
                            value="#{rbacLogBean.usersTargetList}" var="user"
                            selectionMode="multiple" scrollable="true" scrollHeight="250"
                            selection="#{rbacLogBean.selectedUsersTargetList}"
                            rowKey="#{user.username}" tableStyle="text-align: left">
                            <p:column filterBy="#{user.lastName} #{user.firstName}"
                                filterMatchMode="contains" filterStyle="width: 95%"
                                footerText="">
                                <h:outputText value="#{user.lastName} #{user.firstName}" />
                            </p:column>
                            <p:ajax event="rowDblselect" update=":selectUserForm" 
                                listener="#{rbacLogBean.addUsersFromTargetToSource}" />
                        </p:dataTable>
                    </div>
                </p:column>
            </p:row>
            <p:row>
                <p:column />
                <p:column />
                <p:column>
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="addUserOkButton"
                            update=":logsForm selectUserForm"
                            action="#{rbacLogBean.selectUsers}"
                            oncomplete="if(!args.validationFailed) PF('selectUsersDialog').hide()"
                            value="OK" styleClass="commandButton" />
                        <p:commandButton id="addUsersCancelButton" value="Cancel"
                            onclick="PF('selectUsersDialog').hide()" immediate="true"
                            update="selectUserForm" styleClass="commandButton">
                            <p:resetInput target=":selectUsersDialog" />
                        </p:commandButton>
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>