<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Permission Definition</ui:define>

    <ui:define name="content">
        <h:form id="permissionDefinitionForm">
            <p:panelGrid id="permissionDefinitionPanelGrid"
                styleClass="noBorderPanelgrid" style="margin-top:-2px;">
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Resource:" />
                            <p:selectOneMenu id="resourceSelectOneMenu"
                                converter="#{resourceConverter}"
                                value="#{permissionsDefinitionBean.selectedResource}"
                                style="width: 198px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
                                <f:selectItems value="#{permissionsDefinitionBean.resources}"
                                    var="r" itemValue="#{r}" itemLabel="#{r.name}" />
                                <p:ajax event="change"
                                    update="permissionDefinitionPanelGrid" />
                            </p:selectOneMenu>
                        </h:panelGrid>
                    </p:column>
                    <p:column colspan="2" style="padding-top: 6px">
                        <h2>
                            <p:outputLabel id="permissionName" style="margin-left:-2px;"
                                value="Selected Permission: #{permissionsDefinitionBean.permissionName}" />
                        </h2>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="permissionsPanelGrid"
                            styleClass="noBorderPanelgrid" style="margin-top:-2px;">
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput"
                                        value="#{permissionsDefinitionBean.wildcard}"
                                        style="width: 280px">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="permissionsListBox propertiesPanelGrid rolesPanelGrid permissionButtons permissionName" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="permissionsListBox"
                                        converter="#{permissionConverter}"
                                        value="#{permissionsDefinitionBean.selectedPermission}"
                                        style="width:283px; height: 527px">
                                        <f:selectItems
                                            value="#{permissionsDefinitionBean.permissions}"
                                            var="permission" itemLabel="#{permission.name}"
                                            itemValue="#{permission}" />
                                        <p:ajax event="change"
                                            update="permissionButtons propertiesPanelGrid rolesPanelGrid permissionName" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block" id="permissionButtons"
                                        styleClass="centerCommandButtonPanel" style="margin-left:-2px">
                                        <p:commandButton value="Add" styleClass="commandButton"
                                            action="#{permissionsDefinitionBean.showAddPermissionDialog()}"
                                            disabled="#{!permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}" />
                                        <p:commandButton value="Remove"
                                            update=":siteContainerGrowl permissionDefinitionPanelGrid"
                                            disabled="#{permissionsDefinitionBean.removePermissionButtonDisabled
                                                || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                            action="#{permissionsDefinitionBean.removePermission}"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected permission?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel" style="margin-left:-2px">
                                        <p:commandButton value="Import" style="width:138px; margin-left: 0px; margin-right: 2px;"
                                            disabled="#{!permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                            action="#{permissionsDefinitionBean.showImportPermissionsDialog()}" />
                                        <p:splitButton value="Export As..." style="margin-left: 0px; margin-right: 0px;">
                                            <p:menuitem value="Excel file" ajax="false" style="margin-left: -1px; margin-right: 0px;"
                                                onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
                                                icon="ui-icon-calculator">
                                                <p:fileDownload
                                                    value="#{permissionsDefinitionBean.excelFile}" />
                                            </p:menuitem>
                                            <p:menuitem value="CSV file" ajax="false" style="margin-left: 0px; margin-right: 1px;"
                                                onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
                                                icon="ui-icon-document">
                                                <p:fileDownload value="#{permissionsDefinitionBean.CSVFile}" />
                                            </p:menuitem>
                                        </p:splitButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="columnTopAlignment withoutPadding">
                        <p:panelGrid id="propertiesPanelGrid" style="margin-left:-2px; margin-top:-2px">
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Name:" />
                                </p:column>
                                <p:column>
                                    <p:inputText
                                        value="#{permissionsDefinitionBean.permissionName}"
                                        readonly="true" style="width:338px" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Resource:" />
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{permissionsDefinitionBean.resourceName}"
                                        readonly="true" style="width:338px" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Description:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:inputTextarea
                                        value="#{permissionsDefinitionBean.permissionDescription}"
                                        rows="6" styleClass="inputFields" readonly="true"
                                        autoResize="false" scrollHeight="118"
                                        style="width:338px; height:118px" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Edit Permission"
                                            styleClass="commandButtonLarge"
                                            action="#{permissionsDefinitionBean.showEditPermissionDialog()}"
                                            disabled="#{permissionsDefinitionBean.editPermissionButtonDisabled
                                                || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}" />
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Rule:" />
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu style="width:346px"
                                        converter="#{ruleConverter}"
                                        disabled="#{permissionsDefinitionBean.editPermissionButtonDisabled
                                            || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                        value="#{permissionsDefinitionBean.selectedRule}">
                                        <f:selectItem itemLabel="" itemValue="" />
                                        <f:selectItems value="#{permissionsDefinitionBean.rules}"
                                            var="rule" itemLabel="#{rule.name}" itemValue="#{rule}" />
                                        <p:ajax event="change" update="propertiesPanelGrid :siteContainerGrowl"
                                            listener="#{permissionsDefinitionBean.changeRule}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column styleClass="columnTopAlignment">
                                    <p:inputTextarea
                                        value="#{permissionsDefinitionBean.ruleDescription}" rows="6"
                                        styleClass="inputFields" readonly="true" autoResize="false"
                                        scrollHeight="118" style="width:338px; height:118px" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2" styleClass="withoutPadding">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputLabel value="Exclusive Access Allowed: " />
                                        <p:selectBooleanCheckbox
                                            disabled="#{permissionsDefinitionBean.editPermissionButtonDisabled
                                                || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                            value="#{permissionsDefinitionBean.isExclusiveAccessAllowed}">
                                            <p:ajax oncomplete="updateScreen();"
                                                update=":siteContainerGrowl"
                                                listener="#{permissionsDefinitionBean.changeExclusiveAccessAllowed}" />
                                        </p:selectBooleanCheckbox>
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2" styleClass="withoutPadding">
                                    <h:panelGrid columns="2">
                                        <h:outputLabel value="Exclusive Access Owner: " />
                                        <p:inputText
                                            value="#{permissionsDefinitionBean.exclusiveAccessOwner}"
                                            styleClass="inputFields" readonly="true"
                                            style="margin-left: 4px; width:242px" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2" styleClass="withoutPadding">
                                    <h:panelGrid columns="2">
                                        <h:outputLabel value="Exclusive Access Expires: " />
                                        <p:inputText
                                            value="#{permissionsDefinitionBean.exclusiveAccessExpireDate}"
                                            styleClass="inputFields" readonly="true" style="width:242px" />
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <h:panelGroup layout="block" style="margin-left: 195px">
                                        <p:commandButton value="Request" styleClass="commandButton"
                                            action="#{permissionsDefinitionBean.showRequestAccessDialog()}"
                                            disabled="#{!permissionsBean.canRequestExclusiveAccessForPermission(permissionsDefinitionBean.selectedPermission,permissionsDefinitionBean.selectedResource,true)}" />
                                        <p:commandButton value="Release"
                                            update="propertiesPanelGrid :siteContainerGrowl"
                                            disabled="#{permissionsDefinitionBean.releaseExclusiveAccessButtonDisabled
                                                || !permissionsBean.canReleaseExclusiveAccessForPermission(permissionsDefinitionBean.selectedPermission,permissionsDefinitionBean.selectedResource,true)}"
                                            action="#{permissionsDefinitionBean.removeExclusiveAccess}"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to release selected exclusive acccess?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column
                        styleClass="withoutPadding columnTopAlignment">
                        <p:panelGrid id="rolesPanelGrid" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column style="height: 26px">
                                    <p:outputLabel value="Roles:" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:selectOneListbox id="rolesListBox"
                                        converter="#{roleConverter}"
                                        value="#{permissionsDefinitionBean.selectedRole}"
                                        style="width:283px; height: 521px; margin: 0 auto">
                                        <f:selectItems value="#{permissionsDefinitionBean.roles}"
                                            var="role" itemLabel="#{role.name}" itemValue="#{role}" />
                                        <p:ajax event="change" update="rolesButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block" id="rolesButtons"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Add" styleClass="commandButton"
                                            disabled="#{!permissionsDefinitionBean.permissionSelected
                                                || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                            action="#{permissionsDefinitionBean.showAddRolesDialog()}" />
                                        <p:commandButton value="Remove"
                                            update="rolesPanelGrid :siteContainerGrowl"
                                            disabled="#{permissionsDefinitionBean.removeRoleButtonDisabled
                                                || !permissionsBean.canManageResource(permissionsDefinitionBean.selectedResource,true)}"
                                            action="#{permissionsDefinitionBean.removeRole}"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected role?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:blockUI block="permissionDefinitionPanelGrid"
                trigger="resourceSelectOneMenu permissionsListBox">  
                LOADING<br />
                <p:graphicImage library="images" name="ajax-loader.gif" />
            </p:blockUI>
            <p:remoteCommand id="selectFirstResource" name="selectFirstResource"
                update="permissionDefinitionPanelGrid :addPermissionForm:addPermissionResourceNameInput"
                autoRun="true" />
            <p:remoteCommand id="updateScreen" name="updateScreen"
                update="propertiesPanelGrid" />
            <script type="text/javascript">
                $(document).ready(function() {
                	updatePermissionsListbox();
                });
				function updatePermissionsListbox() {
                    $("#permissionDefinitionForm\\:permissionsListBox .ui-selectlistbox-listcontainer").css("height", "527px");
                    $("#permissionDefinitionForm\\:rolesListBox .ui-selectlistbox-listcontainer").css("height", "521px");
				}
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updatePermissionsListbox();
			    </h:outputScript>
			</p:outputPanel> 
        </h:form>
        <p:dialog header="Add Roles for Selected Permission" dynamic="true" 
            closable="false" modal="true" resizable="false" showEffect="fade"
            hideEffect="fade" id="addRolesDialog" widgetVar="addRolesDialog">
            <ui:include src="dialogs/add-roles.xhtml" />
        </p:dialog>
        <p:dialog header="Add New Permission" closable="false" dynamic="true" 
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="addPermissionDialog" widgetVar="addPermissionDialog">
            <ui:include src="dialogs/add-permission.xhtml" />
        </p:dialog>
        <p:dialog header="Request Exclusive Access" closable="false" dynamic="true" 
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="requestAccessDialog" widgetVar="requestAccessDialog">
            <ui:include src="dialogs/request-exclusive-access.xhtml" />
        </p:dialog>
        <p:dialog header="Edit Permission" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade" dynamic="true" 
            id="editPermissionDialog" widgetVar="editPermissionDialog">
            <ui:include src="dialogs/edit-permission.xhtml" />
        </p:dialog>
        <p:dialog header="Import Permissions" closeOnEscape="true" dynamic="true" 
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            widgetVar="importPermissionsDialog">
            <ui:include src="dialogs/upload-file.xhtml" />
        </p:dialog>
        <p:dialog modal="true" header="Downloading file..." draggable="false"
            closable="false" resizable="false" widgetVar="downloadStatusDialog">
            <p:graphicImage library="images" name="ajax-loader-bar.gif" />
        </p:dialog>
        <script type="text/javascript">
            function startDownload() {
                PF('downloadStatusDialog').show();
            }
            function stopDownload() {
                PF('downloadStatusDialog').hide();
            }
        </script>
    </ui:define>
</ui:composition>