<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Expressions</ui:define>

    <ui:define name="content">
        <h:form id="expressionsForm">
            <p:panelGrid id="expressionsPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="expressionsListPanelGrid"
                            styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput"
                                        value="#{expressionsBean.wildcard}" style="width: 280px">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="expressionsListBox expressionsListButtons propertiesPanelGrid" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:selectOneListbox id="expressionsListBox"
                                        converter="#{expressionConverter}"
                                        value="#{expressionsBean.selectedExpression}"
                                        style="width:283px; height: 600px">
                                        <f:selectItems value="#{expressionsBean.expressions}"
                                            var="expression" itemLabel="#{expression.longName}"
                                            itemValue="#{expression}" />
                                        <p:ajax event="change"
                                            update="propertiesPanelGrid expressionsListButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block" id="expressionsListButtons"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Add" styleClass="commandButton"
                                            disabled="#{!permissionsBean.canManageRule(true)}"
                                            action="#{expressionsBean.showAddExpressionDialog()}" />
                                        <p:commandButton value="Remove" styleClass="commandButton"
                                            action="#{expressionsBean.removeExpression}"
                                            update="expressionsForm :siteContainerGrowl"
                                            disabled="#{expressionsBean.removeExpressionButtonDisabled
                                                || !permissionsBean.canManageRule(true)}">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected expression?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="withoutPadding columnTopAlignment">
                        <p:row>
                            <p:panelGrid id="propertiesPanelGrid" styleClass="noBorderPanelgrid" style="margin-top:2px;">
                                <p:row>
                                    <p:column colspan="2">
                                        <h2>
                                            <p:outputLabel
                                                value="Selected Expression:" />
                                        </h2>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Name:" />
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{expressionsBean.expressionName}"
                                            readonly="true" style="width: 280px" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Long Name:" />
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{expressionsBean.expressionLongName}"
                                            readonly="true" style="width: 280px" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column styleClass="columnTopAlignmentText">
                                        <p:outputLabel value="Description:" />
                                    </p:column>
                                    <p:column>
                                        <p:inputTextarea
                                            value="#{expressionsBean.expressionDescription}" rows="6"
                                            readonly="true" style="width:280px; height:122px"
                                            scrollHeight="330" autoResize="false" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">
                                        <h:panelGroup layout="block" style="padding-right: 270px"
                                            styleClass="centerCommandButtonPanel">
                                            <p:commandButton value="Edit Expression Info"
                                                styleClass="commandButtonLarge"
                                                action="#{expressionsBean.showEditExpressionDialog()}"
                                                disabled="#{expressionsBean.editExpressionInfoButtonDisabled
                                                    || !permissionsBean.canManageRule(true)}" />
                                        </h:panelGroup>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Definition:" />
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{expressionsBean.expressionDefinition}"
                                            readonly="true" style="width: 651px" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">
                                        <h2>
                                            <p:outputLabel value="Rules" />
                                        </h2>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2" styleClass="columnTopAlignment">
                                        <p:dataTable var="rule" value="#{expressionsBean.rules}"
                                            scrollable="true" scrollHeight="250"
                                            styleClass="rolesPermissionTable" style="width:760px">
                                            <p:column headerText="Rules">
                                                <h:outputText value="#{rule.definition}" />
                                            </p:column>
                                            <f:facet name="footer">
                                                <div></div>
                                            </f:facet>
                                        </p:dataTable>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:row>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <script type="text/javascript">
                $(document).ready(function() {
                	updateExpressionsListbox();
                });
				function updateExpressionsListbox() {
                    $("#expressionsForm\\:expressionsListBox .ui-selectlistbox-listcontainer").css("height", "600px");
				}
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updateExpressionsListbox();
			    </h:outputScript>
			</p:outputPanel> 
        </h:form>
        <p:dialog header="Add Expression" closable="false" modal="true" dynamic="true" 
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addExpressionDialog" widgetVar="addExpressionDialog">
            <ui:include src="dialogs/add-expression.xhtml" />
        </p:dialog>
        <p:dialog header="Edit Expression" closable="false" modal="true" dynamic="true" 
            resizable="false" showEffect="fade" hideEffect="fade"
            id="editExpressionDialog" widgetVar="editExpressionDialog">
            <ui:include src="dialogs/edit-expression.xhtml" />
        </p:dialog>
    </ui:define>
</ui:composition>