<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Permissions Overivew</ui:define>

    <ui:define name="content">
        <h:form id="permissionOverviewForm">
            <p:panelGrid id="permissionOverviewPanelGrid"
                styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column colspan="6">
                        <h2>
                            <p:outputLabel value="Permissions Overview" />
                        </h2>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Roles:" />
                    </p:column>
                    <p:column colspan="3">
                        <p:inputText value="#{permissionsOverviewBean.rolesString}"
                            readonly="true" style="width: 857px" />
                    </p:column>
                    <p:column>
                        <p:commandButton value="Select" styleClass="commandButton"
                            action="#{permissionsOverviewBean.showSelectRolesDialog}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Resources:" />
                    </p:column>
                    <p:column colspan="3">
                        <p:inputText value="#{permissionsOverviewBean.resourcesString}"
                            readonly="true" style="width: 857px" />
                    </p:column>
                    <p:column>
                        <p:commandButton value="Select" styleClass="commandButton"
                            action="#{permissionsOverviewBean.showSelectResourcesDialog}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="IPs:" />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{permissionsOverviewBean.IPString}"
                            style="width: 369px" />
                    </p:column>
                    <p:column>
                        <p:outputLabel value="IP Groups:" />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{permissionsOverviewBean.IPGroupsString}"
                            readonly="true" style="width: 369px" />
                    </p:column>
                    <p:column>
                        <p:commandButton value="Select" styleClass="commandButton"
                            action="#{permissionsOverviewBean.showSelectIPGroupsDialog}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Expressions:" />
                    </p:column>
                    <p:column colspan="3">
                        <p:inputText value="#{permissionsOverviewBean.expressionsString}"
                            readonly="true" style="width: 857px" />
                    </p:column>
                    <p:column>
                        <p:commandButton value="Select" styleClass="commandButton"
                            action="#{permissionsOverviewBean.showSelectExpressionsDialog}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="6">
                        <p:commandButton value="Search" styleClass="commandButtonLarge"
                            action="#{permissionsOverviewBean.search()}"
                            update="permissionOverviewForm :siteContainerGrowl"
                            disabled="false" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="6" styleClass="withoutPadding">
                        <p:panelGrid>
                            <p:row>
                                <p:column colspan="3">
                                    <p:outputLabel value="Available Permissions:" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="withoutPadding columnTopAlignment">
                                    <p:panelGrid id="permissionsList">
                                        <p:row>
                                            <p:column>
                                                <p:selectOneListbox id="permissionsListBox"
                                                    value="#{permissionsOverviewBean.selectedPermission}"
                                                    converter="#{permissionConverter}"
                                                    style="width:283px; height: 416px">
                                                    <f:selectItems var="permission"
                                                        itemLabel="#{permission.name}" itemValue="#{permission}"
                                                        value="#{permissionsOverviewBean.permissions}" />
                                                    <p:ajax event="change" update="permissionProperties rolesList" />
                                                </p:selectOneListbox>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                                <p:column styleClass="withoutPadding columnTopAlignment">
                                    <p:panelGrid id="permissionProperties">
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Name:" />
                                            </p:column>
                                            <p:column>
                                                <p:inputText
                                                    value="#{permissionsOverviewBean.permissionName}"
                                                    readonly="true" style="width:343px" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Resource:" />
                                            </p:column>
                                            <p:column>
                                                <p:inputText
                                                    value="#{permissionsOverviewBean.permissionResource}"
                                                    readonly="true" style="width:343px" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column styleClass="columnTopAlignmentText">
                                                <p:outputLabel value="Description:" />
                                            </p:column>
                                            <p:column styleClass="columnTopAlignment">
                                                <p:inputTextarea rows="6" styleClass="inputFields"
                                                    value="#{permissionsOverviewBean.permissionDescription}"
                                                    readonly="true" autoResize="false" scrollHeight="118"
                                                    style="width:343px; height:118px" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Rule:" />
                                            </p:column>
                                            <p:column>
                                                <p:inputText
                                                    value="#{permissionsOverviewBean.permissionRule}"
                                                    readonly="true" style="width:343px" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column />
                                            <p:column styleClass="columnTopAlignment">
                                                <p:inputTextarea rows="6" styleClass="inputFields"
                                                    value="#{permissionsOverviewBean.permissionRuleDescription}"
                                                    readonly="true" autoResize="false" scrollHeight="118"
                                                    style="width:343px; height:118px" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column colspan="2" styleClass="withoutPadding">
                                                <h:panelGrid columns="2" cellpadding="5">
                                                    <h:outputLabel value="Exclusive Access Allowed: " />
                                                    <p:selectBooleanCheckbox
                                                        value="#{permissionsOverviewBean.permissionExclusiveAccessAllowed}"
                                                        disabled="true">
                                                    </p:selectBooleanCheckbox>
                                                </h:panelGrid>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                                <p:column styleClass="withoutPadding columnTopAlignment">
                                    <p:panelGrid id="rolesList">
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Roles:" />
                                            </p:column>
                                        </p:row>
                                        <p:row>
                                            <p:column>
                                                <p:selectOneListbox id="rolesListBox"
                                                    converter="#{roleConverter}"
                                                    style="width:283px; height: 381px;">
                                                    <f:selectItems var="role"
                                                        value="#{permissionsOverviewBean.permissionRoles}"
                                                        itemLabel="#{role.name}" itemValue="#{role}" />
                                                    <p:ajax event="change" update="permissionOverviewForm" />
                                                </p:selectOneListbox>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <script type="text/javascript">
                $(document).ready(function() {
                	updatePermissionsOverviewListbox();
                });
				function updatePermissionsOverviewListbox() {
                    $("#permissionOverviewForm\\:permissionsListBox .ui-selectlistbox-listcontainer").css("height", "416px");
                    $("#permissionOverviewForm\\:rolesListBox .ui-selectlistbox-listcontainer").css("height", "381px");
				}
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updatePermissionsOverviewListbox();
			    </h:outputScript>
			</p:outputPanel> 
        </h:form>
        <p:dialog header="Select Roles" closable="false" modal="true" dynamic="true" 
            resizable="false" showEffect="fade" hideEffect="fade"
            id="selectRolesDialog" widgetVar="selectRolesDialog">
            <ui:include src="dialogs/select-roles.xhtml" />
        </p:dialog>
        <p:dialog header="Select Resources" closable="false" modal="true" dynamic="true" 
            resizable="false" showEffect="fade" hideEffect="fade"
            id="selectResourcesDialog" widgetVar="selectResourcesDialog">
            <ui:include src="dialogs/select-resources.xhtml" />
        </p:dialog>
        <p:dialog header="Select IP Groups" closable="false" modal="true" dynamic="true" 
            resizable="false" showEffect="fade" hideEffect="fade"
            id="selectIPGroupsDialog" widgetVar="selectIPGroupsDialog">
            <ui:include src="dialogs/select-ipgroups.xhtml" />
        </p:dialog>
        <p:dialog header="Select Expressions" closable="false" dynamic="true" 
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="selectExpressionsDialog" widgetVar="selectExpressionsDialog">
            <ui:include src="dialogs/select-expressions-overview.xhtml" />
        </p:dialog>
    </ui:define>
</ui:composition>