<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Tokens</ui:define>

    <ui:define name="content">
        <h:form id="tokensForm">
            <p:panelGrid styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2>
                            <p:outputLabel value="Current Tokens" />
                        </h2>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="columnTopAlignment">
                        <p:dataTable var="token" value="#{tokensBean.tokens}"
                            rowKey="#{token.id}" selectionMode="single" scrollable="true"
                            scrollHeight="572" styleClass="rolesPermissionTable"
                            style="width:1070px">
                            <p:ajax event="rowSelect"
                                listener="#{tokensBean.onTokenRowSelect}" update=":tokensForm" />
                            <p:ajax event="rowUnselect"
                                listener="#{tokensBean.onTokenRowUnselect}" update=":tokensForm" />
                            <p:column headerText="User">
                                   <h:outputText value="#{token.userId}" />
                            </p:column>
                            <p:column headerText="IP">
                                <h:outputText value="#{token.ip}" />
                            </p:column>
                            <p:column headerText="Creation Time">
                                <h:outputText value="#{token.creationDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Expiration Time">
                                <h:outputText value="#{token.expirationDate}">
                                    <f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Roles">
                                <h:outputText value="#{tokensBean.getRolesString(token)}" />
                            </p:column>
                            <f:facet name="footer">
                                <div></div>
                            </f:facet>
                        </p:dataTable>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                            <p:commandButton value="Invalidate" style="width: 145px; margin-right:2px;"
                                update="tokensForm :siteContainerGrowl"
                                disabled="#{!tokensBean.tokenSelected || !permissionsBean.canInvalidateTokens(true)}"
                                action="#{tokensBean.invalidateToken}">
                                <p:confirm header="Confirmation"
                                    message="Do you really want to invalidate selected token?"
                                    icon="ui-icon-help" />
                            </p:commandButton>
                            <p:commandButton value="Invalidate All"
                                update="tokensForm :siteContainerGrowl"
                                disabled="#{tokensBean.tokensListEmpty || !permissionsBean.canInvalidateTokens(true)}"
                                action="#{tokensBean.invalidateAll}" style="width: 145px; margin-right:2px;">
                                <p:confirm header="Confirmation"
                                    message="Do you really want to invalidate all tokens?"
                                    icon="ui-icon-help" />
                            </p:commandButton>
                            <p:commandButton value="Remove Expired"
                                update="tokensForm :siteContainerGrowl"
                                disabled="#{tokensBean.tokensListEmpty}"
                                action="#{tokensBean.removeExpiredTokens}" style="width: 145px;">
                                <p:confirm header="Confirmation"
                                    message="Do you really want to remove all expired tokens?"
                                    icon="ui-icon-help" />
                            </p:commandButton>
                        </h:panelGroup>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>