<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Role Definition</ui:define>

    <ui:define name="content">
        <h:form id="roleDefinitionForm">
            <p:panelGrid id="roleDefinitionPanelGrid"
                styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="columnTopAlignment withoutPadding">
                        <p:panelGrid id="rolesListPanelGrid"
                            styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput"
                                        value="#{rolesDefinitionsBean.wildcard}"
                                        styleClass="inputFields">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="rolesListBox roleProperties" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="rolesListBox"
                                        value="#{rolesDefinitionsBean.selectedRole}"
                                        styleClass="mainListBox" converter="#{roleConverter}">
                                        <f:selectItems value="#{rolesDefinitionsBean.rolesList}"
                                            var="r" itemLabel="#{r.name}" itemValue="#{r}" />
                                        <p:ajax event="change"
                                            update="roleProperties rolesButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup id="rolesButtons" layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="addRoleButton" value="Add"
                                            disabled="#{!permissionsBean.canAddRole(true)}"
                                            action="#{rolesDefinitionsBean.showAddNewRoleDialog()}"
                                            styleClass="commandButton" />
                                        <p:commandButton id="removeRoleButton" value="Remove"
                                            action="#{rolesDefinitionsBean.removeRole}"
                                            update="roleDefinitionForm, :siteContainerGrowl"
                                            disabled="#{rolesDefinitionsBean.removeRoleButtonDisabled
                                                || !permissionsBean.canRemoveRole(true)}"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected role?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="columnTopAlignment withoutPadding">
                        <p:panelGrid id="roleProperties" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column colspan="3">
                                    <h2>
                                        <p:outputLabel id="selectedRoleLabel"
                                            value="Selected Role: #{rolesDefinitionsBean.roleName}" />
                                    </h2>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Name:" />
                                </p:column>
                                <p:column>
                                    <p:inputText id="roleNameInput"
                                        value="#{rolesDefinitionsBean.roleName}" readonly="true"
                                        styleClass="inputFields" />
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Assigned Permissions:" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Description:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:inputTextarea id="roleDescriptionTextarea"
                                        value="#{rolesDefinitionsBean.roleDescription}" rows="5"
                                        styleClass="inputFields" readonly="true" autoResize="false" />
                                </p:column>
                                <p:column rowspan="6" styleClass="columnTopAlignment">
                                    <p:dataTable id="rolePermissionsTable" var="permission"
                                        value="#{rolesDefinitionsBean.assignedPermissionsList}"
                                        rowKey="#{permission.id}" selectionMode="single"
                                        selection="#{rolesDefinitionsBean.selectedPermission}"
                                        styleClass="rolesPermissionTable" style="width:517px"
                                        scrollable="true" scrollHeight="492">
                                        <p:ajax event="rowSelect"
                                            listener="#{rolesDefinitionsBean.onPermissionRowSelect}"
                                            update="rolePermissionsButtons" />
                                        <p:ajax event="rowUnselect"
                                            listener="#{rolesDefinitionsBean.onPermissionRowUnselect}"
                                            update="rolePermissionsButtons" />
                                        <p:column headerText="Permission">
                                           <h:outputText value="#{permission.name}" />
                                        </p:column>
                                        <p:column headerText="Resource">
                                           <h:outputText value="#{permission.resource.name}" />
                                        </p:column>
                                        <f:facet name="footer">
                                            <h:panelGroup id="rolePermissionsButtons" layout="block"
                                                styleClass="tableCommandButtonPanel" style="margin-top: 9px">
                                                <p:commandButton id="addPermissionButton" value="Add"
                                                    disabled="#{rolesDefinitionsBean.addPermissionButtonDisabled}"
                                                    action="#{rolesDefinitionsBean.showAddPermissionsDialog()}"
                                                    styleClass="commandButton" />
                                                <p:commandButton id="removePermissionButton" value="Remove"
                                                    action="#{rolesDefinitionsBean.removeRolePermission}"
                                                    update="rolePermissionsTable, rolePermissionsButtons, :siteContainerGrowl"
                                                    disabled="#{rolesDefinitionsBean.removePermissionButtonDisabled
                                                         || !permissionsBean.canManageResource(rolesDefinitionsBean.selectedPermission.resource,true)}"
                                                    styleClass="commandButton">
                                                    <p:confirm header="Confirmation"
                                                        message="Do you really want to remove selected permission?"
                                                        icon="ui-icon-help" />
                                                </p:commandButton>
                                            </h:panelGroup>
                                        </f:facet>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column>
                                    <h:panelGroup id="descriptionButtonPanel" layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="editRoleInfoButton"
                                            disabled="#{rolesDefinitionsBean.editRoleInfoButtonDisabled
                                                   || !permissionsBean.canManageRole(rolesDefinitionsBean.selectedRole,true)}"
                                            update="roleProperties"
                                            action="#{rolesDefinitionsBean.showEditRoleInfoDialog()}"
                                            value="Edit Role Info" styleClass="matrixCommandButton" />
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Managers:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="roleManagersListbox"
                                        value="#{rolesDefinitionsBean.selectedManager}"
                                        converter="#{userConverter}" styleClass="rolesColumn2ListBox">
                                        <f:selectItems value="#{rolesDefinitionsBean.managersList}"
                                            var="manager"
                                            itemLabel="#{manager.lastName} #{manager.firstName}"
                                            itemValue="#{manager}" />
                                        <p:ajax event="change" update="roleManagersButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column>
                                    <h:panelGroup id="roleManagersButtons" layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="addManagerButton"
                                            disabled="#{rolesDefinitionsBean.addManagerButtonDisabled
                                                   || !permissionsBean.canManageRole(rolesDefinitionsBean.selectedRole,true)}"
                                            action="#{rolesDefinitionsBean.showAddManagersDialog()}"
                                            value="Add" styleClass="commandButton" />
                                        <p:commandButton id="removeManagerButton" value="Remove"
                                            action="#{rolesDefinitionsBean.removeRoleManager}"
                                            disabled="#{rolesDefinitionsBean.removeManagerButtonDisabled
                                                   || !permissionsBean.canManageRole(rolesDefinitionsBean.selectedRole,true)}"
                                            update="roleManagersListbox, roleManagersButtons, :siteContainerGrowl"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected manager?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Assignees:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="roleUsersListbox"
                                        value="#{rolesDefinitionsBean.selectedAssignee}"
                                        styleClass="rolesColumn2ListBox" converter="#{roleAssigneeConverter}">
                                        <f:selectItems value="#{rolesDefinitionsBean.assigneesList}"
                                            var="assignee"
                                            itemLabel="#{assignee.user.lastName} #{assignee.user.firstName} (#{assignee.assignment}) "
                                            itemValue="#{assignee}" />
                                        <p:ajax event="change" update="roleUsersButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column>
                                    <h:panelGroup id="roleUsersButtons" layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="addAssigneeButton" value="Add"
                                            action="#{rolesDefinitionsBean.showAddNewAssigneeDialog()}"
                                            disabled="#{rolesDefinitionsBean.addAssigneeButtonDisabled
                                                   || !permissionsBean.canManageRole(rolesDefinitionsBean.selectedRole,true)}"
                                            styleClass="commandButton" />
                                        <p:commandButton id="removeAssigneeButton" value="Remove"
                                            action="#{rolesDefinitionsBean.removeRoleAssignee}"
                                            update="roleUsersListbox roleUsersButtons, :siteContainerGrowl"
                                            disabled="#{rolesDefinitionsBean.removeAssigneeButtonDisabled
                                                   || !permissionsBean.canManageRole(rolesDefinitionsBean.selectedRole,true)}"
                                            styleClass="commandButton">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected assignee?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <script type="text/javascript">
	          	$(document).ready(function(){
	          		updateRolesListbox();
	          	});
	          	function updateRolesListbox() {
                    $("#roleDefinitionForm\\:rolesListBox .ui-selectlistbox-listcontainer").css("height", "600px");
                    $("#roleDefinitionForm\\:roleManagersListbox .ui-selectlistbox-listcontainer").css("height", "152px");
                    $("#roleDefinitionForm\\:roleUsersListbox .ui-selectlistbox-listcontainer").css("height", "152px");
			    }
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updateRolesListbox();
			    </h:outputScript>
			</p:outputPanel>
        </h:form>
        <p:dialog header="Add New Assignee" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addNewAssigneeDialog" widgetVar="addNewAssigneeDialog">
            <ui:include src="dialogs/add-assignees.xhtml" />
        </p:dialog>
        <p:dialog header="Add New Role" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addNewRoleDialog" widgetVar="addNewRoleDialog">
            <ui:include src="dialogs/add-new-role.xhtml" />
        </p:dialog>
        <p:dialog header="Add New Manager" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addManagersDialog" widgetVar="addManagersDialog">
            <ui:include src="dialogs/add-managers.xhtml" />
        </p:dialog>
        <p:dialog header="Select Permissions" dynamic="true" closable="false"
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="addPermissionsDialog" widgetVar="addPermissionsDialog">
            <ui:include src="dialogs/add-permissions.xhtml" />
        </p:dialog>
        <p:dialog header="Edit Role Info" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="editRoleInfoDialog" widgetVar="editRoleInfoDialog">
            <ui:include src="dialogs/edit-role-info.xhtml" />
        </p:dialog>
    </ui:define>
</ui:composition>