<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
        <title><ui:insert name="title">RBAC Management Studio</ui:insert></title>
        <link rel="shortcut icon" href="../resources/images/favicon.ico" type="image/vnd.microsoft.icon" />            
    </h:head>
    <h:body id="body">
        <h:outputStylesheet name="default.css" library="css" />
        <h:panelGroup id="siteContainer" class="container" layout="block">
            <h:panelGroup id="siteBanner" class="banner" layout="block">
                <ui:include src="../banner.xhtml" />
            </h:panelGroup>
            <h:panelGroup class="navigation" layout="block">
                <ui:include src="../navigation.xhtml" />
            </h:panelGroup>
            <h:panelGroup id="siteContent" class="content" layout="block">
                <p:growl id="siteContainerGrowl" showDetail="true" life="4000" />
                <ui:insert name="content"></ui:insert>
            </h:panelGroup>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button"
                styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button"
                styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
        </h:panelGroup>
    </h:body>
</html>