<ui:composition template="../templates/site.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:define name="title">RBAC Management Studio: Resources</ui:define>

    <ui:define name="content">
        <h:form id="resourcesForm">
            <p:panelGrid id="resourcesPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="withoutPadding">
                        <p:panelGrid id="resourcesListPanelGrid"
                            styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput" value="#{resourcesBean.wildcard}"
                                        style="width: 280px">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="resourcesListBox propertiesPanelGrid buttons" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="resourcesListBox"
                                        value="#{resourcesBean.selectedResource}"
                                        converter="#{resourceConverter}"
                                        style="width:283px; height:566px">
                                        <f:selectItems value="#{resourcesBean.resources}" var="res"
                                            itemLabel="#{res.name}" itemValue="#{res}" />
                                        <p:ajax event="change"
                                            update="propertiesPanelGrid buttons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block" id="buttons"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Add"
                                            action="#{resourcesBean.showAddResourceDialog()}"
                                            styleClass="commandButton"
                                            disabled="#{!permissionsBean.canAddResource(true)}" />
                                        <p:commandButton value="Remove"
                                            update=":siteContainerGrowl resourcesForm"
                                            action="#{resourcesBean.removeResource}"
                                            styleClass="commandButton"
                                            disabled="#{!permissionsBean.canManageResource(resourcesBean.selectedResource,true)}">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected resource."
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Import" style="width:138px; margin-left: 0px; margin-right: 2px;"
                                            styleClass="commandButton"
                                            disabled="#{!permissionsBean.canAddResource(true)}"
                                            action="#{resourcesBean.showImportResourcesDialog()}" />
                                        <p:splitButton value="Export As..." style="margin-left: 0px; margin-right: 0px;">
                                            <p:menuitem value="Excel file" ajax="false" style="margin-left: -1px; margin-right: 0px;"
                                                onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
                                                icon="ui-icon-calculator">
                                                <p:fileDownload value="#{resourcesBean.excelFile}" />
                                            </p:menuitem>
                                            <p:menuitem value="CSV file" ajax="false" style="margin-left: 0px; margin-right: 1px;"
                                                onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
                                                icon="ui-icon-document">
                                                <p:fileDownload value="#{resourcesBean.CSVFile}" />
                                            </p:menuitem>
                                        </p:splitButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="withoutPadding columnTopAlignment">
                        <p:panelGrid id="propertiesPanelGrid"
                            styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column colspan="4">
                                    <h2>
                                        <p:outputLabel
                                            value="Selected Resource: #{resourcesBean.resourceName}" />
                                    </h2>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Name:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:inputText value="#{resourcesBean.resourceName}"
                                        style="width:267px" readonly="true" />
                                </p:column>
                                <p:column rowspan="2" styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Managers:" />
                                </p:column>
                                <p:column rowspan="2" styleClass="columnTopAlignment">
                                    <p:selectOneListbox id="managersListBox"
                                        converter="#{userConverter}"
                                        value="#{resourcesBean.selectedManager}"
                                        style="height: 175px; width: 267px">
                                        <f:selectItems value="#{resourcesBean.managers}" var="manager"
                                            itemLabel="#{manager.lastName} #{manager.firstName}"
                                            itemValue="#{manager}" />
                                        <p:ajax event="change" update="managerListButtons" />
                                    </p:selectOneListbox>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Description:" />
                                </p:column>
                                <p:column styleClass="columnTopAlignment">
                                    <p:inputTextarea value="#{resourcesBean.resourceDescription}"
                                        rows="10" styleClass="inputFields" readonly="true"
                                        autoResize="false" scrollHeight="135"
                                        style="width:267px; height:135px" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Edit description"
                                            action="#{resourcesBean.showEditDescriptionDialog()}"
                                            styleClass="commandButtonLarge"
                                            disabled="#{!permissionsBean.canManageResource(resourcesBean.selectedResource,true)}" />
                                    </h:panelGroup>
                                </p:column>
                                <p:column />
                                <p:column>
                                    <h:panelGroup layout="block" id="managerListButtons"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton value="Add"
                                            action="#{resourcesBean.showAddManagersDialog()}"
                                            styleClass="commandButton"
                                            disabled="#{!permissionsBean.canManageResource(resourcesBean.selectedResource,true)}" />
                                        <p:commandButton value="Remove"
                                            update=":siteContainerGrowl propertiesPanelGrid"
                                            action="#{resourcesBean.removeManager}"
                                            styleClass="commandButton"
                                            disabled="#{resourcesBean.removeManagerButtonDisabled
                                                || !permissionsBean.canManageResource(resourcesBean.selectedResource,true)}">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected manager?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignmentText">
                                    <p:outputLabel value="Permissions:" />
                                </p:column>
                                <p:column colspan="3" styleClass="columnTopAlignment">
                                    <p:dataTable var="permission"
                                        value="#{resourcesBean.permissions}" rowKey="#{permission.id}"
                                        selectionMode="single" scrollable="true" scrollHeight="301"
                                        styleClass="rolesPermissionTable" style="width:659px">
                                        <p:ajax event="rowSelect"
                                            listener="#{resourcesBean.onPermissionRowSelect}"
                                            update=":resourcesForm:propertiesPanelGrid" />
                                        <p:ajax event="rowUnselect"
                                            listener="#{resourcesBean.onPermissionRowUnselect}"
                                            update=":resourcesForm:propertiesPanelGrid" />
                                        <p:column headerText="Permission">
                                              <h:outputText value="#{permission.name}" />
                                         </p:column>
                                        <f:facet name="footer">
                                            <div></div>
                                        </f:facet>
                                    </p:dataTable>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column />
                                <p:column colspan="3">
                                    <h:panelGroup layout="block"
                                        styleClass="rightCommandButtonPanel">
                                        <p:commandButton value="Add"
                                            action="#{resourcesBean.showAddPermissionsDialog()}"
                                            styleClass="commandButton"
                                            disabled="#{!permissionsBean.canManageResource(resourcesBean.selectedResource,true)}" />
                                        <p:commandButton id="removePermissionButton" value="Remove"
                                            update=":siteContainerGrowl propertiesPanelGrid"
                                            action="#{resourcesBean.removePermission}"
                                            styleClass="commandButton"
                                            disabled="#{resourcesBean.removePermissionButtonDisabled
                                                || !permissionsBean.canManageResource(resourcesBean.selectedResource,true)}">
                                            <p:confirm header="Confirmation"
                                                message="Do you really want to remove selected permission?"
                                                icon="ui-icon-help" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <script type="text/javascript">
                $(document).ready(function() {
                	updateResourcesListbox();
                });
				function updateResourcesListbox() {
                    $("#resourcesForm\\:managersListBox .ui-selectlistbox-listcontainer").css("height", "175px");
                    $("#resourcesForm\\:resourcesListBox .ui-selectlistbox-listcontainer").css("height", "566px");
				}
            </script>
			<p:outputPanel autoUpdate="true">
			    <h:outputScript id="applyChangeHandler">
			        updateResourcesListbox();
			    </h:outputScript>
			</p:outputPanel>
        </h:form>
        <p:dialog header="Add New Resource" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addResourceDialog" widgetVar="addResourceDialog">
            <ui:include src="dialogs/add-resource.xhtml" />
        </p:dialog>
        <p:dialog header="Add Managers" dynamic="true" closable="false" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="addManagersDialog" widgetVar="addManagersDialog">
            <ui:include src="dialogs/add-managers.xhtml" />
        </p:dialog>
        <p:dialog header="Add permissions" dynamic="true" closable="false"
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="addPermissionsDialog" widgetVar="addPermissionsDialog">
            <ui:include src="dialogs/add-permissions.xhtml" />
        </p:dialog>
        <p:dialog header="Edit Resource Description" dynamic="true" closable="false"
            modal="true" resizable="false" showEffect="fade" hideEffect="fade"
            id="editDescriptionDialog" widgetVar="editDescriptionDialog">
            <ui:include src="dialogs/edit-description.xhtml" />
        </p:dialog>
        <p:dialog header="Import Resources" dynamic="true" closeOnEscape="true" modal="true"
            resizable="false" showEffect="fade" hideEffect="fade"
            id="importResourcesDialog" widgetVar="importResourcesDialog">
            <ui:include src="dialogs/upload-file.xhtml" />
        </p:dialog>
        <p:dialog modal="true" header="Downloading file..." dynamic="true" draggable="false"
            closable="false" resizable="false" widgetVar="downloadStatusDialog">
            <p:graphicImage library="images" name="ajax-loader-bar.gif" />
        </p:dialog>
        <script type="text/javascript">
            function startDownload() {
                PF('downloadStatusDialog').show();
            }
            function stopDownload() {
                PF('downloadStatusDialog').hide();
            }
        </script>
    </ui:define>
</ui:composition>