<ui:composition template="../templates/pvaccess.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">RBAC PV Access Management: File generator</ui:define>

    <ui:define name="content">
        <h:form id="generatorForm">
            <p:panelGrid id="generatorPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column styleClass="withoutPadding columnTopAlignment">
                        <p:panelGrid id="pvListPanelGrid" styleClass="noBorderPanelgrid">
                            <p:row>
                                <p:column>
                                    <p:selectOneMenu id="car"
                                        value="#{asgBean.defaultAccessSecurityGroup}"
                                        converter="#{groupConverter}"
                                        style="width: 205px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;">
                                        <f:selectItem itemLabel="Select default ASG" itemValue="" />
                                        <f:selectItems value="#{asgBean.defaultGroups}" var="group"
                                            itemLabel="#{group.name}" itemValue="#{group}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:inputText id="searchInput" value="#{asgBean.wildcard}"
                                        styleClass="inputFields">
                                        <p:ajax event="keyup" process="searchInput"
                                            partialSubmit="true" update="asgListBox" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column styleClass="columnTopAlignment">
                                    <p:selectManyMenu id="asgListBox" showCheckbox="false"
                                        value="#{asgBean.selectedGroups}"
                                        converter="#{groupConverter}" style="width: 200px; height: 564px;">
                                        <f:selectItems value="#{asgBean.groups}" var="group"
                                            itemLabel="#{group.name}" itemValue="#{group}" />
                                        <p:ajax event="change" update="generatedContentPanelGrid" />
                                    </p:selectManyMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="centerCommandButtonPanel">
                                        <p:commandButton id="generateButton" value="Generate File"
                                            styleClass="commandButtonLarge"
                                            action="#{asgBean.generateContent}"
                                            update="generatedContentPanelGrid" />
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column styleClass="withoutPadding columnTopAlignment">
                        <p:panelGrid id="generatedContentPanelGrid"
                            styleClass="noBorderPanelGrid">
                            <p:row>
                                <p:column>
                                    <h2>
                                        <p:outputLabel style="margin-left:8px" value="Generated File:" />
                                    </h2>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:inputTextarea id="generatedContentArea"
                                        value="#{asgBean.generatedContent}" rows="10" readonly="true"
                                        autoResize="false"
                                        style="width:1025px; height:595px; margin-left:8px; margin-top:2px; font-family: Courier" />
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <h:panelGroup layout="block"
                                        styleClass="rightCommandButtonPanel">
                                        <p:commandButton id="downloadButton" value="Download File"
                                            ajax="false" disabled="#{asgBean.generatedContent==null}"
                                            onclick="PrimeFaces.monitorDownload(startDownload, stopDownload)"
                                            icon="ui-icon-arrowthick-1-s" styleClass="commandButtonLarge">
                                            <p:fileDownload value="#{asgBean.generatedFile}" />
                                        </p:commandButton>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:blockUI block="generatorPanelGrid" trigger="generateButton">  
                LOADING<br />
                <p:graphicImage library="images" name="ajax-loader.gif" />
            </p:blockUI>
        </h:form>
        <p:dialog modal="true" header="Downloading file..." dynamic="true" draggable="false"
            closable="false" resizable="false" widgetVar="downloadStatusDialog">
            <p:graphicImage library="images" name="ajax-loader-bar.gif" />
        </p:dialog>
        <script type="text/javascript">
            function startDownload() {
                PF('downloadStatusDialog').show();
            }
            function stopDownload() {
                PF('downloadStatusDialog').hide();
            }
        </script>
    </ui:define>
</ui:composition>