<ui:composition template="../templates/pvaccess.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <ui:define name="title">RBAC PV Access Management</ui:define>
    <ui:define name="content">
    </ui:define>
</ui:composition>